<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <style>
        html, body {
            height: 100%;
            margin: 0;
            overflow: hidden;
            background-image: url({{ asset('/assets/vendor/images/GoYhcga.png') }});
            /*background-repeat: no-repeat;*/
        }
        body {
            color: white;
            font-family: sans-serif;
            font-size: 1.8em;
            display: flex;
            align-items: center;
            justify-content: center;
            /*background-color: rgb(50,50,50);*/
        }
        .content {
            margin: 1px;
            width: 140px;
            height: 140px;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
            transition: all 0.4s cubic-bezier(0.39, 0.575, 0.565, 1);
           /* background-color: rgb(50,50,50);*/
        }
        .material-icons.md-68 { font-size: 68px; }
        .material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
        .material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }
        .material-icons.md-light { color: rgba(255, 255, 255, 1); }
        .material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }
        a{text-decoration: none;color:inherit;}
    </style>
</head>
<body>
    <div class="wowpanel" >
        <a href="http://127.0.0.1:8081/keep_slim/web/app_dev.php/walking">
            <div class="content" id="content_walk"><i class="material-icons md-68 md-light md-inactive" id="walk">directions_walk</i></div>
        </a>
    </div>
    <div class="wowpanel">
         <a href="http://127.0.0.1:8081/keep_slim/web/app_dev.php/swiming">
            <div class="content" id="content_pool"><i class="material-icons md-68 md-light md-inactive" id="pool">pool</i></div>
        </a>
    </div>
    <div class="wowpanel">
        <div class="content" id="content_bike"><i class="material-icons md-68 md-light md-inactive" id="bike">directions_bike</i></div>
    </div>
   {#  <div class="wowpanel">
        <div class="content"><i class="material-icons">wc</i></div>
    </div> #}
    <script src={{ asset('/assets/vendor/jquery/jquery.min.js') }}></script>
    <script type="text/javascript">
        $(document).ready(function() {
            
            var walk = $("#walk");
            var pool = $("#pool");
            var bike = $("#bike");

            var content_walk = $("#content_walk");
            var content_pool = $("#content_pool");
            var content_bike = $("#content_bike");

            content_walk
                .mouseenter(function() { 
                   $(this).css("background-color", "#924DE6")
                    walk.removeClass('md-light md-inactive')
                   
                })
                .mouseleave(function() { 
                   $(this).css("background-color", "transparent")
                   walk.addClass('md-light md-inactive');
                })

                content_pool
                    .mouseenter(function() { 
                            $(this).css("background-color", "#EF5252")
                            pool.removeClass('md-light md-inactive');
                    })
                    .mouseleave(function() {
                        $(this).css("background-color", "transparent")
                        pool.addClass('md-light md-inactive');
                    })

                content_bike
                    .mouseenter(function() { 
                        $(this).css("background-color", "#F59500")
                        bike.removeClass('md-light md-inactive');
                    })
                    .mouseleave(function() {
                        $(this).css("background-color", "transparent") 
                        bike.addClass('md-light md-inactive');
                    })

                const ANGLE = 45;

                let wowpanels = document.querySelectorAll(".wowpanel");
                /*let colors = ['#924DE6', '#EF5252', '#F59500'];*/

                wowpanels.forEach((element) => {
                    floatable(element);
                });

                function floatable (panel) {
                    let content = panel.querySelector(".content");
                    /*content.style.backgroundColor = color;*/
                    
                    panel.addEventListener('mouseout', e => {
                        content.style.transform = `perspective(300px) 
                                                   rotateY(0deg)
                                                   rotateX(0deg)`;
                    });
                    
                    panel.addEventListener('mousemove', e => {
                        let w = panel.clientWidth;
                        let h = panel.clientHeight;
                        let y = (e.offsetX - w * 0.5) / w * ANGLE;
                        let x = (1 - (e.offsetY - h * 0.5)) / h * ANGLE;

                        content.style.transform = `perspective(300px) 
                                                   rotateX(${x}deg)
                                                   rotateY(${y}deg)`;
                    });
                }
        });
    </script>
<body>
</html>







