{% extends 'base.html.twig' %}
{% block stylesheets %}
    <style>
        .container {
            max-width: 40%;
        }
    </style>
{% endblock %}
{% block content %}
    <h1>Swiming creation</h1>
    <br>
    {% form_theme form 'bootstrap_3_layout.html.twig'  %}
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" class="btn btn-primary" />
    {{ form_end(form) }}
    <br><p><a href="{{ path('swiming_index') }}">Back to the list</a></p>
{% endblock %}
